@charset "UTF-8";
/* CSS Document */
*{
	padding: 0;
	margin-bottom: 10px;
	margin-left: 8px;
	margin-right: 6px;
}
h1{
	text-align:center;
	background-color:#808080;
	font-style:italic;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
img {
    width :200px;
	height:200px;
  }
.wrapper{
	margin:auto;
	background-color:#D4FFAA;
	  max-width:500px;
	  overflow:hidden;
 }
 li {
	 float:left;
	 margin:10px;
 }
figcaption{
	color:#FFF;
	margin-top:-30px;
	margin-left:70px;
	
}
